{% extends "base.html" %}

{% block title %}
Contact
{% endblock title %}

{% block body %}

    <div class="container my-4">
        <img src="static/3.jfif" class="d-block w-100 " alt="...">
        <h1 class="text-center my-3">Contact Us!!</h1>
    </div>
<div class="container mb-5">
    <form method="post" action="/contact">
        {% csrf_token %}
    <div class="container form-group mb-2">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Full Name">
    </div>
    <div class="container form-group mb-2">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
    </div>
    <div class="container form-group mb-2">
        <label for="phone" class="form-label">Phone Number</label>
        <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Nmumber">
    </div>

    <div class="container form-group mb-2">
        <label for="desc" class="form-label">Write the purpose of contact</label>
        <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
{% endblock body %}